[submodule "module1-python-modules-packages-and-environments/Lambdata-Jacob-Torres"]
	path = module1-python-modules-packages-and-environments/Lambdata-Jacob-Torres
	url = https://github.com/jacob-torres/Lambdata-Jacob-Torres
